* {
    margin: 0;
    bottom: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
}

.boxed {
    max-width: 1280px;
    margin-inline: auto;
}

.flex {
    display: flex;
}

.space-between {
    justify-content: space-between;
}

.align-center {
    align-items: center;
}

.text-center {
    text-align: center;
}

.w40 {
    width: 40%;
}

.w60 {
    width: 60%;
}

.w32 {
    width: 32%;
}

.gap20 {
    gap: 20px;
}

.dark {
    background: #2D2D2D;
    color: #fff;
    padding: 0 10%;
}

.wrap {
    flex-wrap: wrap;
}


header {
    padding-block: 20px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    width: 100%;
    height: 120px;
    background: lightcoral;
}

.nav-logo {
    width: 60px;
    border-radius: 50%;
    display: block;
}

.nav-menu {
    list-style-type: none;
}

.nav-menu-mobile {
    display: none;
}

.nav-menu a {
    text-decoration: none;
    padding: 10px;
    color: #fff;
    transition: .4s ease-in;
}

.nav-menu a:hover {
    background-color: #FF0080;
    border-radius: 5px;
}

.slider {
    width: 100%;
    height: 80vh;
    aspect-ratio: 16/9;
    position: relative;
}

.slider-background {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(50%);
}

.slider-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%);
}

.slider-content h1 {
    font-size: 4rem;
    color: #fff;
    text-shadow: 1px 3px 0 #969696, 1px 13px 5px #aba8a8;
}

.slider-content p {
    font-size: 1.5rem;
    color: #fff;
}

.section {
    padding: 50px 0;
}

.section1 {
    background: #2D2D2D;
}

.section p {
    font-weight: 500;
}

.section h2 {
    margin-bottom: 20px;
}

.propos-mobile {
    display: none;
}

.product {
    background: #2D2D2D;
    border-radius: 10px;
    box-sizing: border-box;
    filter: brightness(70%);
    transition: 0.4s ease-in-out;
}

.product:hover {
    filter: brightness(100%);
    transform: scale(1.05);
}

.product img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
}

.product p {
    color: #fff;
    padding: 20px;
}

.title {
    font-weight: 600;
    background: #FF0080;
    color: #fff;
    border-radius: 10px;
    padding: 0 7px;
}

.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 0 20px;
}

.form-group {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
}


input,
textarea {
    padding: 12px;
    border: 1px solid #444;
    background: #2a2a2a;
    color: white;
    border-radius: 5px;
    margin-top: 5px;
}

.btn-submit {
    background-color: #c71585;
    color: white;
    padding: 12px 25px;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    font-weight: bold;
    transition: transform 0.3s;
}

.btn-submit:hover {
    transform: scale(1.05);
}

footer {
    background: lightcoral;
    height: 100px;
}

@media(max-width:810px) {
    header {
        height: 70px;
    }

    .nav-logo {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }

    .nav-menu {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        color: #000;
        background: lightcoral;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        display: none;
        padding: 0;
    }

    .nav-menu a {
        display: block;
        width: 100%;
        padding: 10px 0;
        text-align: center;
    }

    .active {
        display: flex;
    }

    .nav-menu-mobile {
        display: block;
        border: 0px;
        background-color: lightcoral;
        position: absolute;
        left: 5%;
        top: 50%;
        transform: translate(-50%, -50%);
        z-index: 999;
    }

    .nav-menu-mobile-exit {
        display: block;
        border: 0px;
        background-color: lightcoral;
        position: absolute;
        right: 5%;
        top: 50%;
        transform: translate(-50%, -50%);
    }

    .nav-menu a {
        color: #000;
        font-size: 1.5rem;
        text-align: center;
    }

    .propos {
        display: none;
    }

    .propos-mobile {
        display: block;
    }

    .slider {
        height: 60vh;
    }

    .column {
        flex-direction: column;
    }

    .wm100 {
        width: 100%;
    }

    .product {
        filter: brightness(100%);

    }

    .boxed {
        max-width: 90%;
    }
}