* {
    margin: 0;
    bottom: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
}

.boxed {
    max-width: 1280px;
    margin-inline: auto;
}

.flex {
    display: flex;
}

.space-between {
    justify-content: space-between;
}

.align-center {
    align-items: center;
}

.text-center {
    text-align: center;
}

.w40 {
    width: 40%;
}

.w60 {
    width: 60%;
}

.w33 {
    width: 33%;
}

.gap20 {
    gap: 20px;
}

.dark {
    background: #2D2D2D;
    color: #fff;
    padding: 0 10%;
}


header {
    padding-block: 20px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    width: 100%;
    height: 120px;
    background: lightcoral;
}

.nav-logo {
    width: 60px;
    border-radius: 50%;
    display: block;
}

.nav-menu {
    list-style-type: none;
}

.nav-menu a {
    text-decoration: none;
    padding: 10px;
    color: #fff;
    transition: .4s ease-in;
}

.nav-menu a:hover {
    background-color: #FF0080;
    border-radius: 5px;
}

.slider {
    width: 100%;
    height: 80vh;
    aspect-ratio: 16/9;
    position: relative;
}

.slider-background {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(50%);
}

.slider-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%);
}

.slider-content h1 {
    font-size: 4rem;
    color: #fff;
    text-shadow: 1px 3px 0 #969696, 1px 13px 5px #aba8a8;
}

.slider-content p {
    font-size: 1.5rem;
    color: #fff;
}

.section {
    padding: 50px 0;
}

.section1 {
    background: #2D2D2D;
}

.section p {
    font-weight: 500;
}

.section h2 {
    margin-bottom: 20px;
}

.product {
    background: #2D2D2D;
    border-radius: 10px;
    box-sizing: border-box;
    filter: brightness(70%);
    transition: 0.4s ease-in-out;
}

.product:hover {
    filter: brightness(100%);
    transform: scale(1.05);
}

.product img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
}

.product p {
    color: #fff;
    padding: 20px;
}

span {
    font-weight: 600;
    background: #FF0080;
    color: #fff;
    border-radius: 10px;
    padding: 2px;
}




