* {
    margin: 0;
    bottom: 0;
    box-sizing: border-box;
}

body {
}

.boxed {
    max-width: 1280px;
    margin-inline: auto;
}

.flex {
    display: flex;
}

.space-between {
    justify-content: space-between;
}

.align-center {
    align-items: center;
}

.text-center {
    text-align: center;
}

header {
    padding-block: 20px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    width: 100%;
    height: 120px;
    background: lightcoral;
}

.nav-logo {
    width: 60px;
    border-radius: 50%;
    display: block;
}

.nav-menu {
    list-style-type: none;
}

.nav-menu a {
    text-decoration: none;
    padding: 10px;
    color: #fff;
    transition: .4s ease-in;
}

.nav-menu a:hover {
    background-color: lightsalmon;
    border-radius: 15px;
}

.slider {
    width: 100%;
    height: 900px;
    aspect-ratio: 16/9;
    position: relative;
}

.slider-background {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(50%);
}

.slider-content {
    position: absolute;
    top: 50%;
    left: 50%;
}

.slider-content h1 {
    font-size: 4rem;
    color: #fff;
    text-shadow: 1px 3px 0 #969696, 1px 13px 5px #aba8a8;
}

.slider-content p {
    font-size: 1.5rem;
}


